name: Lint
on: [push, pull_request]
jobs:
  build:
    name: yamllint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v4
      - name: Run yamllint
        run: |
          yamllint .
